#rectangles{
    width: 400px;
    height: 800px;
    margin-top: 60px;
    background:rgb(242, 243, 245);
}
#gris{
    width: 400px;
    height: 100px;
    margin-top: 60px;
    background:rgb(155, 126, 126);
}
td{
    width: 100px;
    font-size: x-large;
    color: antiquewhite;
}
#mot{
    font-size: x-small;
}
#mots{
    font-size: x-small;
}
#titre{
    color: rgb(20, 20, 19);
    font-size: x-small;
}
hr{
    background-color: gray;
}
tr{
    font-size: x-small;
}
#ci{
    color: black;
    font-size: medium;
}
#col{
    font-size: small;
    color: black;
}
td{ border-right: 20px solid transparent;}
#fin{
    width: 400px;
    height: 30px;
    margin-top: 60px;
    background:rgb(155, 126, 126);
}
#end{
    color: antiquewhite;
    font-size: small;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
progress{
  
    
    height: 10px;
}
